/* mobile first */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background-color:#DD5959;
    color: white;
}
.header{
    position: relative;
}

.nav-bar .left a{
    font-size: 17px;
    font-family:"Open Sans";
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.mealify .left p{
    font-size: 30px;
    font-family:"Open Sans";
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.nav-bar span,.mealify .left span{
    color:#CE1212;
}
.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.057) 0px 12px 13px;
    position: fixed;
    padding: 10px;
    top: 0;
    flex-direction: row;
    z-index: 12;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    gap:3px;
    flex-direction: row;
    list-style: none; 
    margin: 0;
    align-items: center;
    
}
.nav-menu li {
    position: relative;
}

.nav-menu li a {
  text-decoration: none;
  color:#7D7D7D;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
  transition: color 0.3s ease;
  position: relative;
  font-family: system-ui;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:#D54141; 
    bottom: 0;
    left:-100%;
    opacity:0;
    
    transition: left 0.3s ease,opacity .3s ease; 
}
    .nav-menu a.active::after {
        width: 100%; 
        left: 50%; 
        opacity: 1;
        transform: translateX(-50%);
    }


.nav-menu a:hover::after {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
}

.nav-menu a:hover {
    color: black;
}

.nav-menu a.active {
    color: black;
}


.nav-bar .right{
    font-size: 20px;
    box-shadow: #181616;
}
.header .Enjoy{
  background-color: #EEEEEE;
  padding-top: 100px;
}
.header .Enjoy .container{
    flex-direction: column-reverse;
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 30px;
    margin: auto;
    align-items: center;
}
.header .Enjoy .container .left{
    width: 100%;
    padding-top: 50px;
    text-align:center;
}
.header .Enjoy .container .right{
    width: 100%;
    margin-top: 10%;   
    flex-direction:column-reverse;
}
.header .Enjoy .container .right img{
    width: 100%;
    border-radius: 50%;
    box-shadow:rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.header .Enjoy .container .right :hover{
    animation: shaking .5s infinite;
}
@keyframes shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateX(0) }
  }
.left h2{
    font-family:Amatic SC;
    font-size:65px;
    font-weight:700;
    color: #37373F;
}
.left p{
    margin-top: 5%;
    font-family: system-ui;
    line-height: 1.8;
    color: #4F4F5A;
}
.book-table-button {
    background-color:#DE1313;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 0 25px 25px 25px; 
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition:background-color .5s;
  }
  
  .book-table-button:hover {
   background-color:rgb(252, 20, 20);
  }
  .inner-flex{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left .play .fa-play{
    background-color: white;
    padding: 12px;
    border-radius: 50%;
  }
 .left .play{
    position: relative;
    left: 10%;
   
 }
 .left .play .fa-play::after{
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    top:-6px;
    left: -9px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid #CE1212;
    border-right: 7px solid transparent;
   border-left: 7px solid #CE1212;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color:transparent;
    transform: rotate(40deg);
 }
 .play a{
   text-decoration: none;
   color: black;
   transition: color 1s;
     font-family:"Open Sans";
     font-weight: 600;
 }
 .play a:hover{
    color:#DE1313;
 }
 .form-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.form-btn input{
  padding: 15px 30px;
  border: none;
  color: white;
  border-radius: 50px;
  background-color: #ce1212;
}
 .form-btn input[type=submit]{
    transition:background-color 1s ease;
 }
 .form-btn input:hover,.about .center .btn:hover{
    background-color:#fd1a1a;
 }
 .about .center .btn{
    padding: 10px;
    background-color:#CE1212;
    color: #fff;
    border: none;
    font-size: 16px;
    transition:background-color 1s;
  }
 .play span{
    margin-left:12px;
 }
 .chefs{
    margin-top: 5%;
    text-align: center;
}
 .title h2{
    font-family:sans-serif;
    font-weight:400;
    font-size: 14px;
    color: #7F7F90;
}
 .title p{
    font-family: Amatic SC;
    font-size:50px;
}
 .title span{
    color:#CE1212;
}
 .chefs .container{
    width: 100%;
    margin: auto;
   padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}
.chef-item {
    margin: 15px;
    overflow: hidden;
    width: 100%; 
    box-shadow: rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    transition: transform .5s;
    &:hover {
      transform: scale(1.05);
    }
}
.chef-item img{
    width: 100%;
}
.chef-item .inner{
    width: 100%;
    text-align: center;
    padding:30px;
    background-color: white;
}
.chef-item .wave img{
    width: 100%;
}
.layer {
    position: relative;
    width: 100%;
   overflow: hidden;
}
.chef-item  .wave{
 position:absolute;
  width: 100%;
 bottom:-15px;
}
.layer .overlay{
    width: 12%;
    height: 70%;
    top:10%;
    right:-60px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.242);
    border-radius: 5px;
    transition: right .5s .5s;
}
.chef-item :hover .overlay{
    right: 10px;
}
.overlay i{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    margin-top: 5px;
    opacity: .5;
    color:rgba(0, 0, 0, 0.5);
    transition: color 1s;
}
.overlay i:hover{
    color: black;
    opacity: .8;
}
.chefs .inner h3{
    font-size: 18.72px;
    font-family:sans-serif;
    color:#212529;
    font-weight: 700;
}
.chefs .inner span{
    color:#7F7F90;
    font-weight:400;
    font-family:system-ui;
}
.chefs .inner p{
    color:#7F7F90;
    font-size: 15px;
    font-family:system-ui;
    font-weight: 400;
    font-style: italic;
}
.gallery{
    padding-top: 5%;
    text-align: center;
}
.gallery .container{
    width: 90%;
  margin:auto;
  padding: 5%;
}
.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
}

.masonry .item {
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content:center;
    text-align: center;
    color: #fff;
}
.masonry .item1 { grid-row: span 10;}
.masonry .item2 { grid-row: span 17;}
.masonry .item3 { grid-row: span 10;}
.masonry .item4{ grid-row: span 10;}
.masonry .item5 { grid-row: span 5;}
.masonry .item6 { grid-row: span 5;}
.masonry .item7 { grid-row: span 5;}
.item img{
    width: 100%;
    height: 100%; 
    transition:transform .5s;
   }
   .item-img {
    position: relative;
    overflow: hidden;
   }
   .item-img:hover img{
        transform: scale(1.1);
   }
   .item-img .overlay{
    position: absolute;
    width: 100%;
    top:100%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: top 1s ;
   }
   .item-img .overlay h2{
    color:#FFFFFF;
    font-size: 24px;
    font-weight:700;
    font-family: Inter, sans-serif;
   }
   .item-img .overlay p{
    color:#DDDDDD;
    font-family: system-ui;
    font-size: 16;
    font-weight: 400;
   }
   .item-img .overlay h2,.item-img .overlay p{
    position:relative;
    top: 40%;
   }
   .item-img:hover .overlay{
    top:0;
   }
   .contact .title{
    margin-top: 5%;
    text-align: center;
   }
   .contact .container{
    width: 90%;
    margin: auto;
   }
   .contact .iframe-contact iframe{
    width: 100%;
    height: 60vh;
    border: 0;
   }
   .contact-divs{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
   }
   .contact-divs .contact-item{
    width:100%;
    padding:10%;
    margin: 5px;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:#F5F5F5;
   }
   .contact-item .circle{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #CE1212;
   }
   .contact-item .circle i{
    font-size: 17px;
    color: #F5F5F5;
   }
   .Divs{
    margin-left: 5%;
   }
   .contact-item .Divs h3{
    color: #7D7D7D;
    font-size: 20px;
    font-weight:700;
    font-family:sans-serif;
   }
   .contact-item .Divs p{
   color:#212529;
   font-size: 16px;
   font-family:system-ui;
   font-family: 400;
   }
   .Divs a{
    color:#212529;
    text-decoration: none;
    font-family: system-ui;
}
.Divs p span{
    color:#212529;
    font-weight: 700;
}
.form input:focus ,.form textarea:focus{
    border-color:#CE1212;
    outline:#CE1212;
}
.form{
    width: 91%;
   margin-top: 5%;
    padding:4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form input,.form textarea{
    border: 2px solid #dadada;
    transition: border-color 1s,outline 1s;
}
.form .top-inputs{
    width: 100%;
}
.form .top-inputs input{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
}
.form .meddile-inputs input{
    width:100%;
    padding: 15px;
    margin-top: 10px;
}
.form .last-input textarea{
    width:100%;
    height:20vh;
    padding: 15px;
    margin-top: 10px;
    resize:none;
}

  .about {
    margin-top: 5%;
  }
  .about footer {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height:auto;
    background-image: url(../img/textured-metal-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  footer .container{
    width:100%;
    margin: auto;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
  }
  footer .container .meal,.footer .last-meal{
    width:100%;

  }
  .meal .right img{
    width:40px;
  }
  .meal .mealify{
    display: flex;
    align-items: center;
  }
  .meal p{
    color: white;
    font-family: system-ui;
    font-weight:400;
    font-size: 16px;
  }
  .meal h3{
    color:#FFFFFF;
    font-family:Inter,sans-serif;
    text-align: center;
    font-size:18.72px;
    font-weight:700;
    margin-top: 15px;
  }
  .line{
    width:100%;
    height: 2px;
    background-color:#585858;
    margin-top: 10px;
  }
  .icons{
    text-align: center;
  }
  .meal .icons i{
    color: white;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
  }
 .about .center{
    width:100% ;
    padding: 1%;
  }
  .about .center input[type=text]{
    width:50%;
    padding: 10px;
    font-family:Inter,sans-serif;
  }
  .about .center input{
    margin-top: 10px;
  }
  .about .center p,.about .center .first-title h3{
    color: white;
    margin-top: 10px;
    font-family:Inter,sans-serif;
  }
  .center-title h3{
    margin-top:40px;
    color: white;
    font-family:Inter,sans-serif;
  }
  .all-list{
    display: flex;
    gap: 20%;
    align-items: center;
    margin-top: 5%;
  }
  .all-list ul li{
    list-style-type: none;
   margin-bottom: 10px;
  }
  .all-list ul{
    align-items: center;
    display: flex;
    width:110%;
    transition:  background-color .2s,margin-left .2s .2s;
  }
  .all-list ul:hover{
    background-color: rgba(255, 255, 255, 0.09);
    margin-left: 7px;
  }
  .all-list a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
  }
  .all-list ul li a::before{
    content: '>';
    width: 50px;
    height: 50px;
    margin-right: 5px;
    font-size: 20px;
    font-weight:900;
  }
  .mealify2 .mid .mid-icon{
    display: flex;
  }
  .mid-icon i{
    color: white;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.contact-item-end {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item-end .icon {
    color:#CE1212;
    font-size: 20px;
    margin-right: 10px;
}

.contact-container h3 {
   color:white;
   margin-bottom: 5%;
    font-size: 24px;
}
